@charset "utf-8";
/* CSS Document */
body{ margin:0 auto; font-size:14px; font-family: "微软雅黑"; line-height:22px; background:#d7d5d5;    }

div,p,input,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{ height:auto; margin:0;; padding:0; vertical-align:middle ;}

li{ list-style:none;}

a{ text-decoration: none ;}
/* underline wavy darkblue */

.ul{ list-style: blink;}

.divclear{ clear:both;}


img{ border:0; margin:0; padding:0;}

 a{color:#333;}

 a:link{ color:#ffffff;}

 a:hover {color:#629705;text-decoration:none;overflow:hidden;}

/*---网页开始-----*/
.main{ width:1100px; height:auto; overflow:hidden;  margin:0 auto; background:#FFF;}

/*---top开始-----*/
.top0{ width:1100px; height:56px; background:#000;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:980px; height:650px; margin:20px auto; background:#333; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:190px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:190px; right:10px; z-index:10;}
#playBox .smalltitle {width:1000px; height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}


.top{ width:1100px; height:390px;}
.daohang{ width:1100px; height:56px; background:#000;filter:alpha(Opacity=80);-moz-opacity:0.5;background: rgba(0,0,0,0.3);}
.logo{ width:170px; margin-left:130px; float:left; height:56px;}

#nav{width: 730px;
    height: 56px;
       margin: 0 auto;
        margin-left: auto;
    margin-left: 70px;
    float: left;

}
#nav ul{ width:685px; height:56px; line-height:56px; font-size:14px;  margin:0 auto;}
#nav ul li{ width: 110px; height:56px; margin:0pxs 10px; line-height:56px; color:#FFF; float:left; text-align:center;}
#nav li a {
	color: #ffffff;
font-family: "宋体";
font-size: 16px;
margin-left: 2px;
display: block;
font-weight:bold;
}
#nav img{
	width:100px;
}
#nav li a:hover, #nav li.hover a {

	background: url(../images/nav.png) no-repeat 0px 15px;
color: #080808 !important;
	
}
.hot{ width: 90px;
height: 56px;
background: url(../images/nav.png) no-repeat 0px 15px;
color: #080808 !important;

}
/*-----box1开始-----*/
.box01{ width:1100px; height:50px; padding-top:30px; text-align:center}
.box01 h1{ font-size:16px; font-weight:normal}
.box01 h2{font-size:14px; font-weight:normal}
/*-----box2开始-----*/
.box02{ width:887px; height:680px; margin:0 auto;}/* background:url(../images/box01-1.jpg) no-repeat; */
.box02 .bx1{width: 200px;
height: 170px;
position: relative;
left: 70px;
top: 10px;
float: left;
margin-right: 77px; 
text-align:center;
border:#070101 2px solid; border-top:#070101 5px solid; border-right:#070101 3px solid; border-left:#070101 3px solid;
margin-top:80px;}
.box02 .bx1 h1{  height:30px; font-size:16px; line-height:30px; margin-top:10px; margin-top:20px;}
.box02 .bx1 h2{  height:25px; font-size:14px; line-height:25px; font-weight:normal;}
.box02 .bx1 h3{  height:25px; font-size:12px; line-height:25px;}
.box02 .bx1 p{font-size:11px; }
.box02 .mar1{width: 800px; margin-left: 6%; margin-top: 30px;}
.link{color: black;}
/* .box02 .bx1 h3 span{ background:#070101; color:#FFF; padding:0px 5px; margin-right:5px;}
 */
/*-----box3开始-----*/
.box03{ width:888px; height:1323px; margin:0 auto; border:#c6c4c5 2px solid; border-top:#c6c4c5 5px solid; border-bottom:#c6c4c5 10px solid;
margin-top:80px;}
.box03 .bx1{ width:886px; height:530px; margin-top:50px;}

.box03 .bx1 .right{ width:215px; height:30px; float:left; text-align:center}
.box03 .bx1 .right h1 {
font-size: 20px;
width: 30px;
height: 235px;
float: right;
line-height: 25px;
padding-left: 10px;
margin-top: -15px;
}
.box03 .bx1 .right h1 span{ background:#F00; padding:2px; font-size:12px; }
.box03 .bx1 .right h2 {
font-size: 20px;
width: 30px;
float: right;
line-height: 25px;
background: #F00;
padding: 10px 0px;
margin-left: 10px;
	 
}
.box03 .bx1 .right p {
color: #5e5e5e;
width: 26px;
float: right;
font-size: 14px;
line-height: 20px;
border-right: #333 1px solid;
padding: 0px 2px;
}
.box03 .bx2{
width: 50px;
height: 30px;
margin: 0 auto;
margin-bottom: 30px;
}
.box03 .bx2 p {
color: #5e5e5e;
width: 25px;
float: right;
font-size: 14px;
line-height: 15px;
padding: 0px 18px;
height: 50px;
}
.box03 .bx2 .padd1{transform: rotate(0.022turn);}
.box03 .bx2 .padd0{ padding:0px !important;transform: rotate(-0.022turn);}
.box03 .bx1 img{width:445px; float:left; margin-left:60px; margin-right:110px;}
.mar2{
	height: 480px;
}
.marl60{margin-left: 60px;}
.mar0{ margin-right: 0px !important;}
.box03 .bx3{ width: 25px;

height: 80px;

border: #e70012 1px solid;

float: left;

text-align: center;

line-height: 20px;

font-weight: bold;

margin-left: 20px;

margin-top: 260px;}
/*-----box4开始-----*/
.box04{ width:888px; height: 580px; margin-top:88px; margin:0 auto; border:#c6c4c5 2px solid; border-top:none; border-bottom:#c6c4c5 10px solid;
margin-top:80px;}
.box04 h1{ font-size:16px; font-weight:normal; text-align:center}
/* .box04 h1 span{ font-size:18px; } */
.box04 h2{ font-size:14px; font-weight:normal; text-align:center; }
.box04-ner{ height:615px; width:888px;margin-top:40px;}
.box04-ner ul{ padding:0px}
.box04-ner ul li{width: 263px;
height: 615px;
float: left;
margin-right: 49px;
text-align: center;}
.box04-ner ul li p{ padding:0px 10px; font-size:14px;}
.box04-ner ul li img{ margin:30px 0px;}
/*-----foot开始-----*/
#foot{ height:125px; width:100%; background:#140b0c; text-align:center; margin-top:120px;}
#foot img{ margin-top:24px; width: 150px;}
/*---foot结束-----*/












